<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375214047993-71f2dj0fa2lv51mph78258ib1t1b4vhc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375214047993-71f2dj0fa2lv51mph78258ib1t1b4vhc</string>
	<key>API_KEY</key>
	<string>AIzaSyBzNSSaxpsbufgENik_vgkxWBrg4T2wPf0</string>
	<key>GCM_SENDER_ID</key>
	<string>375214047993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.temp</string>
	<key>PROJECT_ID</key>
	<string>myproject-68eb8</string>
	<key>STORAGE_BUCKET</key>
	<string>myproject-68eb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375214047993:ios:5e01a04550d9957d101828</string>
</dict>
</plist>